@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    font-size: 42px;
    margin: 15px;
}
body{
    background-color: #f1f1f1;
}
.container{
   width: 500px;
   
   margin-right: auto;
   margin-left: auto;

}
p{
    font-size: 30px;
    text-align: center;
   
}
.error{
    font-size: 40px;
    font-weight: 900;
    
}